#testimonials {
    height: 100vh;
    background: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding-block: 4rem;
    gap: 2rem;
    align-items: center;
}

header {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1.5rem;
    padding-inline: 2rem;
    align-items: center;
}

header :first-child {
    color: var(--primary-color);
    font-weight: var(--fw-bold);
}

p {
    color: var(--second-text-color);
    text-align: center;
}

.carousel {
    display: flex;
    overflow: hidden; 
    width: 80%;
    height: 22rem;
}

.carousel-content {
    display: flex;
    gap: 1rem;
    animation: scroll-left 13s linear infinite; 
}

.carousel:hover .carousel-content {
    animation-play-state: paused;
}

.carousel-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background: var(--bg-color);
    border-radius: 0.375rem;
    padding: 10px;
    text-align: center;
    gap: 0.5rem;
    box-sizing: border-box;
    overflow: hidden;
}

#perfil {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
}

.names {
    font-size: var(--fs-sm);
    font-weight: var(--fw-bold);
    justify-content: space-between;
}

.names :first-child {
    color: var(--text-color);
    font-size: var(--fs-base);
}

.nota {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    text-align: center;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100.5%);
    }
}

@media (min-width: 580px) {
    #testimonials {
        gap: 5rem;
        align-items: center;
    }

    header p {
        width: 60%;
    }

    .carousel {
        overflow-x: hidden;
        width: 50%;
    }

    .testimony {
        width: 80%;
    }

    .carousel-card {
        min-width: 30rem;
        min-height: 21rem;
    }
}
